body {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cell {
    width: 15px;
    height: 15px;
    border: 1px solid lightblue;
}

.cell.fruit {
    background-color: red;
}

.cell.snake {
    background-color: black;
}

#score-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

#info-label {
    display: flex;
    justify-content: space-between;
}

#button-overlay {
    background-color: white;
    justify-content: center;
    align-items: center;
}

button {
    padding: 8px;
    background-color: aquamarine;
    border: none;
    border-radius: 4px;


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24;
}

.hidden {
    display: none;
}